.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    border-radius: 5px;
    padding: 2rem;
    border-radius: 30px;
    background-color: white;
    width: 30em;
  }
  
  .btn-submit {
    /* background-color: #062acc; */
    background: linear-gradient(135deg, #9f07ce, #b020db);
  }
  
  .btn-cancel {
    background: linear-gradient(135deg, #0764ce, #0022e6);
  }
  .btn-submit:hover,
  .btn-cancel:hover{
    background: linear-gradient(135deg, #24632c, #204cdb);
  }
  .close {
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
  }
  
  .modal-content {
    margin-bottom: 2rem;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-evenly;
  }